+++
title = "Donut Mod"
linkTitle = "Donut Mod"

+++
{{< blocks/cover image_anchor="top" height="75%">}}

<h1 style="font-weight: bold;">Welcome to the Donut Mod, a Spotfire visualization add-on.</h1>

<br>
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-2  mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-danger mr-2 mb-4" href="https://github.com/Donut-Mod-Team/donut-mod/releases" target="_blank"">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"> </p> <!-- Scroll down to learn more!-->
	<!--{{< blocks/link-down color="info" >}}-->
</div>
{{< /blocks/cover >}}

<!--
{{% blocks/lead color="primary" %}}
The [Donut Mod](https://github.com/Donut-Mod-Team/donut-mod) is an extension addon for the TIBCO Spotfire platform, which complements its environment by allowing the users to visualize their data using this donut chart representation.
{{% /blocks/lead %}}-->

{{< blocks/section  color="white">}}

<div class="col">
<h3>
	The <a href="https://github.com/Donut-Mod-Team/donut-mod">Donut Mod</a> is an extension addon for the TIBCO Spotfire platform, which complements its environment by allowing the users to visualize their data using this donut chart representation.
</h3>
<br>

<h2>Getting Started</h2>
<p>
	On the <a href="/getting-started/">Getting Started</a> page you will be able to find the prerequisites and an installation guide for the mod. This will teach you how to add the mod to Spotfire, explain the settings and features, as well as a nifty tutorial video on how to use the mod!
</p>
<!--<a class="btn btn-lg btn-secondary mr-2 mb-4" href="https://github.com/Donut-Mod-Team/donut-mod/releases">
	Get Started!
</a>-->
<br>

<h2>About The Mod</h2>
<p>
	The <a href="{{< relref "/docs">}}">About The Mod</a> page will tell you all about the mod itself, such as it's features, as well as a dedicated section for developers that want to contribute to or build upon the mod. If you are interested in knowing more about the frameworks and different aspects of the mod itself, rather that simply what it does or using it, this is the place to go!
</p>
<br>

<h2>About Us</h2>
<p>
	<a href="/about-us/">About Us</a> is the page where you can get to know us, the developers! Here you can see some pictures of us, as well as the primary roles we have been in charge of throughout the development of this mod. Are you curious to know more about us? Come say hi!
</p>
<br>

<h2>Download and Release</h2>
<p>
	To download the mod and see all former, and upcoming, releases, head over to the <a href="/download/">Download & Releases</a> page. Here you will find the information you need to get the Donut Mod all for yourself.
</p>

</div>

{{< /blocks/section >}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New release out!" %}}
A new Pre-Release (0.1.0) is now available on GitHub!

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions and Issues welcome!" %}}
We work around [Pull Request](https://github.com/Donut-Mod-Team/donut-mod/pulls) contributions workflow on **GitHub**. New users are always welcome to contribute or add [issues](https://github.com/Donut-Mod-Team/donut-mod/issues)!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-envelope" title="Contact us" %}}
Email us at: RandomEmail@gmail.com
{{% /blocks/feature %}}
